/**
 * @file
 * Custom style overrides for EA Weddings's layout.
 */

/* BASE OVERRIDES */

/*Site logo*/
#block-ea-wedding-branding > div > div.logo > a > img {
  max-height: 50px;
}

/*Headings*/
#block-ea-wedding-content h3,
#block-ea-wedding-content h4,
#block-ea-wedding-content h5,
#block-ea-wedding-content h6 {
  color: #767676;
}
#block-ea-wedding-content .field--name-body a {
  text-decoration: underline;
}

/*Header layout*/
.header__container {
  padding: 20px 0 21px;
}

/*Regions spacing*/
.main-content__section {
  padding: 20px 0;
}

/* COMPONENT OVERRIDES */
#block-ea-wedding-local-tasks {
  padding-bottom: 10px;
}

/* RSVP Form */
.webform-element-description {
  font-size: 1.1em;
}
.ui-menu-item {
  font-size: 18px;
  padding: 4px 10px;
}
